<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <super_payment_gateway>
                <version>2.0.0</version>
                <active>0</active>
                <environment>production</environment>
                <api_key backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <confirmation_key backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <sandbox_api_key backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <sandbox_confirmation_key backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <title>Super Payments</title>
                <color_scheme>orange</color_scheme>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>0</can_use_internal>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>0</can_capture_partial>
                <can_authorize_vault>0</can_authorize_vault>
                <can_capture_vault>0</can_capture_vault>
                <can_use_for_multishipping>0</can_use_for_multishipping>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_void>0</can_void>
                <can_cancel>0</can_cancel>
                <payment_action>authorize</payment_action>
                <order_status>pending_payment</order_status>
                <currency>GBP</currency>
                <allowspecific>0</allowspecific>
                <sort_order>1</sort_order>
                <debug>0</debug>
                <use_https>1</use_https>
                <gateway_timeout>60</gateway_timeout>
                <model>SuperpaymentsFacade</model>
                <api_url><![CDATA[https://api.superpayments.com]]></api_url>
                <api_url_sandbox><![CDATA[https://api.test.superpayments.com]]></api_url_sandbox>
            </super_payment_gateway>
        </payment>
    </default>
</config>
